@import url(head.css);
@import url(inf_about.css);
@import url(contact.css);
@import url(footer.css);
@import url(portfolio.css);

@font-face {
    font-family: "Big John";
    src: url("../fonts/BIG JOHN.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Slim Joe";
    src: url("../fonts/Slim Joe.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato bold";
    src: url("../fonts/Lato-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
.wight_layout {
    width: 1920px;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.button_desctiption {
    font-family: Lato, sans-serif;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


