/*footer*/
.down {
    background: #3c4955;
}
.made_in {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 16px;
    float: left;
    margin: 92px 0 92px 0;
}
.link{
    text-decoration: none;
    color: white;
}
.cosial_icon {
    display: block;
    margin-top: 72px;
    float: right;
}
.cosial_emblem {
    float: left;
}
.pic {
    float: left;
    background: url("../images/social.png") no-repeat;
    height: 65px;
    width: 65px;
    margin-left: 10px;
}
.twitter {
    background-position: 0 0;
}
.linkedin {
    background-position: -87px 0;
}
.dribble {
    background-position: -177px 0;
}
.behance {
    background-position: -267px 0;
}