.portfolio {
    height: inherit;
    background-color: white;
}
.boxes {
    margin-left: 222px;
}
.box_menu {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 50px;
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #535e69;
    background-color: #eaeaea;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 15px;
}
.box_menu:hover {
    color: white;
    background-color: #48bf72;
}
.item_block{
    margin-top: 50px;
    margin-bottom: 87px;
}
.block {
    display: inline-block;

}
.block_1, .block_3 {
    float: left;
}
.block_2, .block_4 {
    float: right;
}
.block_1, .block_2 {
    margin-bottom: 40px;
}